div.h0{
    position: absolute;
    left: 0%;
}

div.h5{
    position: absolute;
    left: 5%;
}

div.h10{
    position: absolute;
    left: 10%;
}

div.h15{
    position: absolute;
    left: 15%;
}

div.h20{
    position: absolute;
    left: 20%;
}

div.h25{
    position: absolute;
    left: 25%;
}

div.h30{
    position: absolute;
    left: 30%;
}

div.h35{
    position: absolute;
    left: 35%;
}

div.h40{
    position: absolute;
    left: 40%;
}

div.h45{
    position: absolute;
    left: 45%;
}

div.h50{
    position: absolute;
    left: 50%;
}

div.h55{
    position: absolute;
    left: 55%;
}

div.h60{
    position: absolute;
    left: 60%;
}

div.h65{
    position: absolute;
    left: 65%;
}

div.h70{
    position: absolute;
    left: 70%;
}

div.h75{
    position: absolute;
    left: 75%;
}

div.h80{
    position: absolute;
    left: 80%;
}

div.h85{
    position: absolute;
    left: 85%;
}

div.h90{
    position: absolute;
    left: 90%;
}

div.h95{
    position: absolute;
    left: 95%;
}

div.h100{
    position: absolute;
    left: 100%;
}
